::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: $purple-medium;
}

::-webkit-scrollbar-track {
  background-color: $purple-medium;
}

::-webkit-scrollbar-thumb {
  background-color: $purple-light;

  &:hover {
    background-color: $blue-light;
  }
}

@supports (scrollbar-color: $purple-light $purple-medium) {
  * {
    scrollbar-color: $purple-light $purple-medium;
    scrollbar-width: thin;
  }
}